/* Clearing floats without extra markup
 * Based on How To Clear Floats Without Structural Markup by PiE
 * [http://www.positioniseverything.net/easyclearing.html] */
.clearfix:after,
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden; }

.clearfix,
.container {
  display: block; }

/* Regular clearing
 * apply to column that should drop below previous ones. */
.clear {
  clear: both; }
