/**
 * MIT License, Copyright 2012 Yo-An Lin <cornelius.howl@gmail.com>
 * http://github.com/c9s/umobi
 * 
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the
 * "Software"), to deal in the Software without restriction, including
 * without limitation the rights to use, copy, modify, merge, publish,
 * distribute, sublicense, and/or sell copies of the Software, and to
 * permit persons to whom the Software is furnished to do so, subject to
 * the following conditions:
 * 
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
 * LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
html {
  margin: 0;
  padding: 0;
  border: 0; }
body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
  display: block; }
body {
  line-height: 1.5;
  background: white;
  font-family: Helvetica, Arial, sans-serif; }
table {
  border-collapse: separate;
  border-spacing: 0; }
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }
table, th, td {
  vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }
blockquote, q {
  quotes: "" ""; }
a img {
  border: none; }
:focus {
  outline: 0; }
pre {
  font-family: Monospace;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
h1 {
  font-size: 1.9em; }
h2 {
  margin-top: 0.3em;
  font-size: 1.6em; }
h3 {
  margin-top: 0.7em;
  font-size: 1.3em; }
h4 {
  margin-top: 1.1em;
  font-size: 1.1em; }
.clearfix:after,
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden; }
.clearfix,
.container {
  display: block; }
.clear {
  clear: both; }
.grid-3-1 {
  width: 33.3%; }
.grid-3-2 {
  width: 66.6%; }
.column {
  float: left; }
.column.border {
  border: 1px dashed #cccccc; }
.grid-4-1 {
  width: 25%; }
.grid-4-2 {
  width: 50%; }
.grid-4-3 {
  width: 75%; }
.grid-5-1 {
  width: 20%; }
.grid-5-2 {
  width: 40%; }
.grid-5-3 {
  width: 60%; }
.grid-5-4 {
  width: 80%; }
.ui-mobile-rendering > * {
  visibility: hidden; }
.ui-mobile .ui-page,
.ui-mobile .ui-dialog,
.ui-page {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: none;
  border: 0; }
.ui-page.ui-page-active {
  display: block;
  overflow: visible; }
.ui-page {
  outline: none; }
.ui-header,
.ui-footer {
  text-align: center;
  z-index: 99; }
.ui-fixed-footer,
.ui-fixed-header {
  position: fixed;
  z-index: 99;
  width: 100%; }
.ui-fixed-header {
  top: 0;
  left: 0; }
.ui-fixed-footer {
  bottom: 0;
  left: 0; }
.ui-content {
  padding: 15px; }
.ui-content-container {
  width: 100%; }
.ui-content-scroll {
  position: fixed; }
.ui-title {
  min-height: 1.1em;
  text-align: center;
  display: block;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: 0 !important; }
h1.ui-title {
  font-size: 1.4em; }
h2.ui-title {
  font-size: 1.2em; }
h3.ui-title {
  font-size: 1.1em; }
.ui-input-text.ui-mini {
  display: inline-block; }
@media all and (min-width: 28em) {
  .ui-content-primary {
    position: relative;
    top: 0px;
    left: 0px;
    margin-left: 230px; }
  .ui-content-secondary {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 230px;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch; } }
@media all and (max-width: 28em) {
  .ui-content-primary {
    position: relative;
    top: 0px;
    left: 0px;
    margin-left: 0px; }
  .ui-content-secondary {
    display: none; } }
a.ui-btn,
button.ui-btn {
  position: relative; }
  a.ui-btn .ui-icon-left,
  button.ui-btn .ui-icon-left {
    position: absolute;
    left: 8px; }
  a.ui-btn.ui-inline,
  button.ui-btn.ui-inline {
    vertical-align: middle; }
  a.ui-btn.ui-btn-icon-left .ui-icon,
  button.ui-btn.ui-btn-icon-left .ui-icon {
    margin-top: 3px; }
  a.ui-btn.ui-mini.ui-btn-icon-left .ui-btn-inner,
  button.ui-btn.ui-mini.ui-btn-icon-left .ui-btn-inner {
    margin-left: 15px; }
  a.ui-btn .ui-icon-right,
  button.ui-btn .ui-icon-right {
    position: absolute;
    right: 8px; }
  a.ui-btn.ui-btn-icon-right .ui-icon,
  button.ui-btn.ui-btn-icon-right .ui-icon {
    margin-top: 3px; }
  a.ui-btn.ui-mini.ui-btn-icon-right .ui-btn-inner,
  button.ui-btn.ui-mini.ui-btn-icon-right .ui-btn-inner {
    margin-right: 15px; }
  a.ui-btn.ui-btn-icon-bottom .ui-btn-inner,
  button.ui-btn.ui-btn-icon-bottom .ui-btn-inner {
    padding-bottom: 30px;
    display: block; }
  a.ui-btn.ui-btn-icon-bottom .ui-icon,
  button.ui-btn.ui-btn-icon-bottom .ui-icon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -9px; }
  a.ui-btn.ui-btn-icon-top .ui-btn-inner,
  button.ui-btn.ui-btn-icon-top .ui-btn-inner {
    padding-top: 30px;
    display: block; }
  a.ui-btn.ui-btn-icon-top .ui-icon,
  button.ui-btn.ui-btn-icon-top .ui-icon {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -9px; }
a.ui-btn.ui-btn-icon-notext .ui-btn-text,
button.ui-btn.ui-btn-icon-notext .ui-btn-text {
  display: none; }
a.ui-btn {
  display: inline-block; }
a.ui-btn,
button.ui-btn {
  text-decoration: none;
  font-size: 16px;
  padding: 6px 12px;
  display: block;
  text-align: center;
  margin: 0.5em 0; }
button.ui-btn {
  width: 100%; }
a.ui-btn.ui-mini,
button.ui-btn.ui-mini {
  display: inline-block;
  width: auto; }
.ui-btn:focus, .ui-link-inherit:focus {
  outline: 0; }
.ui-btn.ui-focus {
  z-index: 1; }
label.ui-input-text {
  font-size: 16px;
  line-height: 1.4;
  display: block;
  font-weight: normal;
  margin: 0 0 0.3em; }
input.ui-input-text,
textarea.ui-input-text {
  background-image: none;
  padding: 0.4em;
  margin: 0.5em 0;
  min-height: 1.4em;
  line-height: 1.4em;
  font-size: 16px;
  display: block;
  width: 100%;
  outline: 0; }
input.ui-mini,
.ui-mini input,
button.ui-mini,
textarea.ui-mini {
  font-size: 14px;
  width: auto; }
div.ui-input-text input.ui-input-text,
div.ui-input-text textarea.ui-input-text {
  border: none;
  width: 100%;
  padding: 0.4em 0;
  margin: 0;
  display: block;
  background: transparent none;
  outline: 0 !important; }
textarea.ui-input-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 50px;
  -webkit-transition: height 200ms linear;
  -moz-transition: height 200ms linear;
  -o-transition: height 200ms linear;
  transition: height 200ms linear; }
input.ui-input-text {
  -webkit-appearance: none; }
textarea.ui-mini {
  height: 45px; }
