

/* 28em => width smaller then iPhone
@media all and (min-width: 28em)
  .ui-content-primary
    position: relative
    top: 0px
    left: 0px
    margin-left: 230px

  .ui-content-secondary
    position: fixed
    top: 0px
    left: 0px
    height: 100%
    width: 230px
    overflow: auto
    overflow-scrolling: touch
    -webkit-overflow-scrolling: touch

/* 28em => width larger then iPhone
@media all and (max-width: 28em)
  .ui-content-primary
    position: relative
    top: 0px
    left: 0px
    margin-left: 0px
  .ui-content-secondary
    display: none

