@import "umobi.reset"
@import "umobi.grid"
@import "umobi.macro"

.ui-mobile-rendering > *
  visibility: hidden

.ui-mobile [data-role=page],
.ui-mobile [data-role=dialog],
.ui-page
  top: 0
  left: 0
  width: 100%
  min-height: 100%
  position: absolute
  display: none
  border: 0


.ui-page.ui-page-active
  display: block
  overflow: visible

/* on ios4, setting focus on the page element causes flashing during transitions when there is an outline, so we turn off outlines */
.ui-page 
  outline: none


/* basic layout system */
.ui-hd,
.ui-ft
  text-align: center

.ui-fixed-ft,
.ui-fixed-hd
  position: fixed
  width: 100%

.ui-fixed-hd
  top: 0
  left: 0

.ui-fixed-ft
  bottom: 0
  left: 0

.ui-fixed-content
  position: fixed
  width: 100%

.ui-btn
  @include border-radius(8px)
  @include text-shadow(8px)
  @include background-vertical-gradient(#cdeb8e,#a5c956)
